.card {
    border-radius: 10px;
    background-color: #F9F7F7;
    margin: 5vw;
    padding: 20px;
    border-top: 24px solid #3f72af;

}

.card h1 {
    text-transform: capitalize;
    font-weight: 400;
}